:host {
  display: block;
  height: 400px;
  width: 400px;
  padding-left: 100px;
  padding-top: 100px;

  .example-formula {
    white-space: pre;
    font-family: monospace;
  }

  .example-error {
    color: rgba(221, 44, 0, 0.87);
  }
}
