/* You can add global styles to this file, and also import other style files */
@import 'src/styles/quill';

// @include quill-editor();
@import '~quill/dist/quill.snow.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/monokai-sublime.min.css';

html, body {
  height: 100vh;
  width: 100%;
  margin: 0;

  p, div {
    margin: 0;
  }
}
