<div class="formula-bar-input-container">
  <div class="formula-bar-input">
    <div #formulaInput
         (input)="onNameChange()"
         class="cell-input"
         (keypress)="preventEnterKey($event)"
         contenteditable>
    </div>
  </div>
  <div *ngIf="suggestions.length>0 && !formulaSyntax" class="formula-details suggestions">
    <div (click)="selectSuggestion(index)"
         (mouseenter)="focusSuggestion(index)"
         *ngFor="let suggestion of suggestions; let index = index"
         [class.active]="suggestionFocusIndex == index"
         class="suggestion">
      <div class="suggestion-name">
        {{ suggestion.name }}
      </div>
      <div class="suggestion-short-description">
        {{ suggestion.shortDescription || suggestion.description }}
      </div>
    </div>
  </div>
  <div *ngIf="formulaSyntax" class="formula-details formula-description">
    {{ formulaSyntax }}
  </div>
</div>
