<div class="formula-bar-input-container">
  <div class="formula-bar-input">
    <div #formulaInput
         (input)="onNameChange()"
         class="cell-input"
         (keypress)="preventEnterKey($event)"
         contenteditable>
    </div>
  </div>
  <div *ngIf="suggestions.length>0 && !formulaSyntax" class="formula-details suggestions">
    <ng-container *ngFor="let suggestion of suggestions; let index = index">
      <div class="separator" *ngIf="index>0 && suggestions[index-1].type !== suggestion.type"></div>
      <div (click)="selectSuggestion(index)"
           (mouseenter)="focusSuggestion(index)"
           [class.active]="suggestionFocusIndex == index"
           class="suggestion">
        <ng-container *ngIf="suggestion.type === types.FORMULA">
          <div class="suggestion-name formula-suggestion">
            {{ suggestion.name }}
          </div>
          <div class="suggestion-short-description">
            {{ suggestion.formula.shortDescription || suggestion.formula.description }}
          </div>
        </ng-container>
        <ng-container *ngIf="suggestion.type === types.VARIABLE">
          <div class="suggestion-name">
            {{ suggestion.name }}
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <div *ngIf="formulaSyntax" class="formula-details formula-description">
    {{ formulaSyntax }}
  </div>
</div>
